.serviceBlock {
  margin: 0 0 2rem 0;
}

.serviceBlock__title {
  margin: 0;
}

.serviceBlock__text {
  margin: 0.5rem 0 0 0;
}

@media only screen and (min-width: 700px) {
  .serviceBlock {
    margin: 0 4rem 0 0;
    grid-column: auto/span 4;
  }
}

@media only screen and (min-width: 1300px) {
  .serviceBlock {
    margin: 0;
    grid-column: auto/span 3;
  }
}
