.mainMenu {
  font-family: "Grold", "Impact", "Charcoal", sans-serif;
  font-size: 1.777rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  padding: 0;
}

.mainMenu__item {
  display: inline;
  margin: 0.5rem 1rem;
}

.mainMenu__link {
  color: #181818;
  text-decoration: none;
}

.mainMenu__link:focus,
.mainMenu__link:hover {
  border-bottom: 3px hsl(28, 100%, 58%) solid;
  text-decoration: none;
}

.mainMenu__button {
  font-family: "Grold", "Impact", "Charcoal", sans-serif;
  font-weight: normal;
  font-size: 2.369rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 35px;
  background: none;
  border: none;
}

@media only screen and (min-width: 700px) {
  .mainMenu {
    flex-direction: row;
  }
  .mainMenu__item {
    margin: 0 1rem;
  }
  .mainMenu__button {
    display: none;
  }
}
