.header__branding {
  display: flex;
  align-items: center;
}

.header__title {
  font-family: "Grold", "Impact", "Charcoal", sans-serif;
  font-size: 1.777rem;
  font-weight: bold;
  color: black;
  padding: 0 0 0 1rem;
  text-decoration: none;
}

@media only screen and (min-width: 350px) {
  .header__title {
    font-size: 2.369rem;
  }
}

@media only screen and (min-width: 700px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 5rem;
  }
}
